<?xml version="1.0"?>
<config>
    <modules>
        <Itech_Deals>
            <version>0.1.0</version>
        </Itech_Deals>
    </modules>
    <frontend>
        <routers>
            <deals>
                <use>standard</use>
                <args>
                    <module>Itech_Deals</module>
                    <frontName>deals</frontName>
                </args>
            </deals>
        </routers>
        <layout>
            <updates>
                <deals>
                    <file>deals.xml</file>
                </deals>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<deals>
				<use>admin</use>
				<args>
					<module>Itech_Deals</module>
					<frontName>deals</frontName>
				</args>
			</deals>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<deals module="deals">
				<title>Deals</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="deals">
						<title>Deals Setting</title>
						<sort_order>0</sort_order>
						<action>adminhtml/system_config/edit/section/deal</action>
					</items>
				</children>
			</deals>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Itech_Deals>
							<title>Deals Module</title>
							<sort_order>10</sort_order>
						</Itech_Deals>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<deals>
					<file>deals.xml</file>
				</deals>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <resources>
            <deals_setup>
                <setup>
                    <module>Itech_Deals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deals_setup>
            <deals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deals_write>
            <deals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deals_read>
        </resources>
        <blocks>
            <deals>
                <class>Itech_Deals_Block</class>
            </deals>
        </blocks>
        <helpers>
            <deals>
                <class>Itech_Deals_Helper</class>
            </deals>
        </helpers>
    </global>
     <default>
        <deal>
            <general>
                    <enabled>1</enabled>
            </general>
        </deal>
    </default>
</config>