<?xml version="1.0"?>
<config>
    <modules>
        <Itech_Managebrands>
            <version>0.1.0</version>
        </Itech_Managebrands>
    </modules>
    <frontend>
        <routers>
            <managebrands>
                <use>standard</use>
                <args>
                    <module>Itech_Managebrands</module>
                    <frontName>managebrands</frontName>
                </args>
            </managebrands>
        </routers>
        <layout>
            <updates>
                <managebrands>
                    <file>managebrands.xml</file>
                </managebrands>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<managebrands>
				<use>admin</use>
				<args>
					<module>Itech_Managebrands</module>
					<frontName>brands</frontName>
				</args>
			</managebrands>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<catalog translate="title" module="catalog">
				<children>
					<attributes translate="title" module="catalog">
						<title>Attributes</title>
						<children>
							<brands module="managebrands">
								<title>Manage Brands</title>
								<action>managebrands/adminhtml_managebrands</action>
							</brands>
						</children>
						<sort_order>30</sort_order>
					</attributes>
				</children>
			</catalog>
		</menu>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Itech_Managebrands>
							<title>Managebrands Module</title>
							<sort_order>10</sort_order>
						</Itech_Managebrands>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
            <managebrands>
                <class>Itech_Managebrands_Model</class>
                <resourceModel>managebrands_mysql4</resourceModel>
            </managebrands>
            <managebrands_mysql4>
                <class>Itech_Managebrands_Model_Mysql4</class>
                <entities>
                    <managebrands>
                        <table>managebrands</table>
                    </managebrands>
                </entities>
            </managebrands_mysql4>
        </models>
        <resources>
            <managebrands_setup>
                <setup>
                    <module>Itech_Managebrands</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </managebrands_setup>
            <managebrands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </managebrands_write>
            <managebrands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </managebrands_read>
        </resources>
        <blocks>
            <managebrands>
                <class>Itech_Managebrands_Block</class>
            </managebrands>
        </blocks>
        <helpers>
            <managebrands>
                <class>Itech_Managebrands_Helper</class>
            </managebrands>
        </helpers>
    </global>
</config>