<?xml version="1.0"?>
<config>
    <modules>
        <AHT_Optionimages>
            <version>0.1.0</version>
        </AHT_Optionimages>
    </modules>
    <frontend>
        <layout>
            <updates>
                <optionimages>
                    <file>optionimages.xml</file>
                </optionimages>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <optionimages>
                <class>AHT_Optionimages_Helper</class>
            </optionimages>
        </helpers>
        <blocks>
            <!--<catalog>
                <rewrite>
                    <layer_filter_attribute>AHT_Optionimages_Block_Images</layer_filter_attribute>
					<layer_view>AHT_Optionimages_Block_View</layer_view>
                </rewrite>
            </catalog>-->
            <optionimages>
                <class>AHT_Optionimages_Block</class>
            </optionimages>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>AHT_Optionimages_Block_Adminhtml_Images_Options</catalog_product_attribute_edit_tab_options>
                    <catalog_product_attribute_edit_form>AHT_Optionimages_Block_Adminhtml_Product_Attribute_Form</catalog_product_attribute_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <attribute>AHT_Optionimages_Model_Mysql4_Eav_Attribute</attribute>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <optionimages>
                <class>AHT_Optionimages_Model</class>
                <resourceModel>optionimages_mysql4</resourceModel>
            </optionimages>
            <optionimages_mysql4>
                <class>AHT_Optionimages_Model_Mysql4</class>
                <entities>
                    <attribute_option><table>eav_attribute_option</table></attribute_option>
                    <aht_attribute_option_value><table>aht_eav_attribute_option_value</table></aht_attribute_option_value>
                    <aht_attribute_option><table>aht_eav_attribute_option</table></aht_attribute_option>
                </entities>
            </optionimages_mysql4>
        </models>
        <resources>
            <optionimages_setup>
                <setup>
                    <module>AHT_Optionimages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </optionimages_setup>
            <optionimages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </optionimages_write>
            <optionimages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </optionimages_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <optionimages>
                    <file>aht_optionimages.xml</file>
                </optionimages>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aht_optionimages translate="title" module="optionimages">
                                            <title>Enable/Disable</title>
                                            <sort_order>51</sort_order>
                                        </aht_optionimages>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
