/* 3.7 Content
------------------------------------------------------------------------------*/

.content-aside {
	float: left;
	width: 204px;
}

.content-aside h1 {
	padding: 29px 0 9px 0;
	font: 40px/45px 'LeagueGothicRegular', Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000;
}
.content-aside ul li a {
	display: block;
	padding: 7px 0 4px 3px;
	border-top: 1px solid #d6d6d6;
	font: 22px/25px 'LeagueGothicRegular', Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000;
}
.content-aside ul li ul {
	margin: 5px 0 22px 0;
}
.content-aside ul li ul li a {
	padding: 1px 0 1px 13px;
	font: bold 14px/18px Helvetica, Arial, sans-serif;
	text-transform: none;
	border: none;
	color: #898989;
}

.content-aside ul li ul li.selected a{
	color: #000;
	background: url(../images/common/sprite.png) no-repeat -200px -415px;
}

.cms-page-view h1 {
	font: 60px/70px 'LeagueGothicRegular', Helvetica, sans-serif;
	text-transform: uppercase;
	color: #74cdce;
}

.cms-page-view h2 {
	margin-bottom: 13px;
	padding-top: 9px;
	font: bold 30px/36px Helvetica, Arial, sans-serif;
	color: #000;
}

.cms-page-view .std blockquote {
	float: right;
	margin-top: 15px;
	margin-left: 17px;
	padding: 12px 0;
	width: 266px;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
}
.cms-page-view .std blockquote p{
	color: #000000;
    font: 25px/30px 'LeagueGothicRegular',Helvetica,sans-serif;
    padding: 0;
    text-transform: uppercase;
}

.cms-page-view .std p {
	padding-top: 10px;
	font: 14px/20px Helvetica, Arial, sans-serif;
	color: #636363;margin:0;
}

.cms-page-view figure {
	position: relative;
	margin: 27px 0 39px 0;
}

.cms-page-view figcaption {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-left: 13px;
	height: 45px;
	font: bold 14px/40px Helvetica, Arial, sans-serif;
	color: #000;
	background: url(../images/home/spot-content-bg.png) repeat left top;
}

.cms-page-view h3 {
	font: bold 22px/26px Helvetica, Arial, sans-serif;
	color: #000;
}

.cms-page-view .std a {
	font-weight: bold;
	color: #74cdce;
	text-decoration: none;
}

.cms-page-view .std a:hover {
	color: #000;
	text-decoration: underline;
}

.std .arrow-number,
.std .arrow-right,
.std .arrow-content {
	margin: 23px 0 45px 0;
}

.arrow-content li {
	margin: 4px 0;
	padding-bottom: 2px;
	padding-left: 34px;
	font: 14px/20px Helvetica, Arial, sans-serif;
	color: #636363;
	background: url("../images/arrow_content.png") no-repeat scroll 0 0 transparent;
}

.image-left {
	float: left;
	height: 392px;
	margin-top: -5px;
}

.image-right {
	float: right;
	height: 392px;
	margin-top: -5px;
}

.arrow-content {
	margin: 23px 0 45px 0;
}

.arrow-right li {
	margin: 4px 0;
	padding-bottom: 2px;
	padding-left: 34px;
	font: 14px/20px Helvetica, Arial, sans-serif;
	color: #636363;
	background: url(../images/common/sprite.png) no-repeat -200px -460px;
}

.arrow-right li.arrow-wronge {
	background: url(../images/common/sprite.png) no-repeat -200px -510px;
}

.arrow-number li {
	display:block;
	width: 100%;
	margin: 4px 0;
	padding-bottom: 4px;
	font: 14px/20px Helvetica, Arial, sans-serif;
	color: #636363;
    float:left;
}

.cms-page-view .std .arrow-number li p {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	width: 680px;
}

.arrow-number li span {
	display: block;
	float: left;
	text-align: center;
	margin-right: 15px;
	width: 20px;
	height: 20px;
	color: #fff;
	background: #000;
}

.std .arrow-number {
	margin-bottom: 20px;
}

.cms-page-view .std  a.but-001{
	display: inline-block;
	width:auto;
	padding: 3px 18px;
	font: 30px/32px 'LeagueGothicRegular', Helvetica, sans-serif;
	text-transform: uppercase;
	color: #fff;
	background: #74cdce;text-align: center;
}

.cms-page-view .std  a:hover.but-001{
	text-decoration: none;
	color: #74cdce;
	background: #000;
}

.checkout-steps .first-step {
	position: relative;
	z-index: 10;
}

.checkout-steps .second-step {
	position: relative;
	z-index: 1;
}
.cms-menu li ol li strong,
.cms-menu li ul li strong,
.cms-menu li ol li a,
.cms-menu li ul li a { display: block; padding: 7px 0 4px 3px;border-top: 1px solid #D6D6D6; font: 22px/25px 'LeagueGothicRegular', Helvetica, sans-serif; text-transform: uppercase; color:black;}
.cms-menu li ol li ol li strong,
.cms-menu li ul li ul li strong,
.cms-menu li ol li ol li a ,
.cms-menu li ul li ul li a {padding: 1px 0 1px 13px; font: bold 14px/18px Helvetica, Arial, sans-serif; text-transform:none; border:none; color:#898989;}
.cms-menu li ol li ol li a:hover ,
.cms-menu li ul li ul li a:hover,
.cms-menu li ol li ol li strong,
.cms-menu li ul li ul li strong {color:black; background: url(../images/common/sprite.png) no-repeat -200px -415px;}
.cms-menu li a { display:block; padding: 2px 0 9px; font: 40px/45px 'LeagueGothicRegular', Helvetica, sans-serif; text-transform: uppercase; color: black;}
.figure { position: relative; margin: 27px 0 39px 0; }
.image-left {float: left; height: 392px;}
.image-right {float: right; height: 392px;}
.cms-page-view .std p.figcaption { position: absolute; left: 0; bottom: 0; width: 100%; padding:0 0 0 13px; height: 45px; font: bold 14px/40px Helvetica, Arial, sans-serif; color:black; background: url(../images/home/spot-content-bg.png) repeat left top; margin:0;}
.cms-page-view .std ul {list-style:none; padding:0;}
.cms-page-view a.but-001 { clear:both;}
