#slideshow {
    height: 392px;
    margin-top: 22px;
    overflow: hidden;
    position: relative;
    width: 960px;
    z-index: 1;
}
#slideshow .slides{
    width: 762px;
    height: 395px;
    overflow: hidden;
    float: left;
}
.ie7 #slideshow {
    z-index: 1;
}
.slides-nav {
    background: none repeat scroll 0 0 #F1EFED;
    height: 362px;
    padding: 15px;
    width: 162px;
    z-index: 101;
    float: left;
}
.slides-nav li {
    border-top: 1px solid #D3D3D3;
    display: block;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
}
.slides-nav li:first-child {
    border: medium none;
}
.slides-nav li span.arrow {
    background: url("../images/slider-arrow.png") no-repeat scroll left top transparent;
    display: none;
    height: 32px;
    position: absolute;
    right: -26px;
    text-indent: -9999px;
    top: 15px;
    width: 11px;
	z-index:999;
}
.slides-nav li.on span.arrow {
    display: block;
}
.slides-nav li a {
    color: #959595;
    display: block;
    font: 20px/24px 'LeagueGothicRegular',Helvetica,sans-serif;
    outline: medium none;
    padding: 9px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.slides-nav li a span {
    color: #959595;
    display: block;
    font: 12px/14px Helvetica,Arial,sans-serif;
    height: inherit;
    position: inherit;
    text-indent: inherit;
    text-transform: none;
    width: inherit;
}
.slides-nav li a:hover, .slides-nav li.on a {
    color: #000000;
}
.slides li {
    position: relative;
}
.info-slide-01 {
	background: url("../images/spot-content-bg.png") repeat scroll left top transparent;
    height: 340px;
    padding: 55px 30px 0 27px;
    position: absolute;
    right: 0;
    top: 0;
    width: 167px;
}

.info-slide-03 {
    background: url("../images/spot-content-bg.png") repeat scroll left top transparent;
    height: 340px;
    padding: 55px 20px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 184px;
}
.info-slide-03 h2{color: #000000;
    font: 80px/85px 'LeagueGothicRegular',Helvetica,sans-serif;
    text-transform: uppercase;}
.info-slide-02 {
    height: 392px;
    position: absolute;
    right: 0;
    top: 0;
    width: 760px;
    z-index: 5;
}
.spot {
    position: relative;
}
spot li.place-01 {
    left: 143px;
    top: 191px;
}
.spot li {
    cursor: pointer;
    display: block;
    position: relative;
}

.spot li a {
    background: url("../images/sprite.png") no-repeat scroll left -560px transparent;
    height: 24px;
    position: absolute;
    text-indent: -99999px;
    width: 24px;
    z-index: 10;
}

.spot li .spot-content {
    background: url("../images/spot-content-bg.png") repeat scroll left top transparent;
    display: none;
    height: 52px;
    left: 10px;
    padding: 12px 15px 0 20px;
    position: absolute;
    top: -20px;
    width: 178px;
    z-index: 20;
}
.spot-cont-left {
    float: left;
    width: 86px;
}
.references-view-container h2 {
    color: #000000;
    font: bold 12px/14px Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.references-view-container p {
    color: #636363;
    font: 12px/14px Helvetica,Arial,sans-serif;
}

.references-view-container p.price {
    color: #000000;
    float: right;
    font: 48px/50px 'LeagueGothicRegular',Helvetica,sans-serif;
    margin-top: -7px;
}

.references-view-container p.price span {
    display: inline-block;
    font: 28px/30px 'LeagueGothicRegular',Helvetica,sans-serif;
    padding-top: 7px;
    vertical-align: text-top;
}
.references-view-container p.price span {
    display: inline-block;
    font: 28px/30px 'LeagueGothicRegular',Helvetica,sans-serif;
    padding-top: 7px;
    vertical-align: text-top;
}
.product-infomation {float: left;}
.spot li.place-02 {
    left: 77px;
    top: 316px;
}
.spot li.place-03 {
    left: 445px;
    top: 243px;
}
.spot li.place-04 {
    left: 640px;
    top: 203px;
}
.category-item-01 h2, .info-slide-01 h2 {
    color: #000000;
    font: bold 25px/26px Helvetica,Arial,sans-serif;
}
.category-item-01 p, .info-slide-03 p, .info-slide-01 p {
    color: #636363;
    font: bold 12px/16px Helvetica,Arial,sans-serif;
    padding: 9px 0 0 0;
}
.category-item-01 p.price, .info-slide-01 p.price {
    color: #000000;
    font: 80px/82px 'LeagueGothicRegular',Helvetica,sans-serif;
    margin: 0 0 0;
    padding: 0 0 10px;
    vertical-align: text-top;
}
.category-item-01 p.price span, .info-slide-01 p.price span {
    display: inline-block;
    font: 40px/42px 'LeagueGothicRegular',Helvetica,sans-serif;
    padding-top: 14px;
    vertical-align: text-top;
}
.category-item-01 a.shopnow, .info-slide-03 a.shopnow, .info-slide-01 a.shopnow {
    background: none repeat scroll 0 0 #74CDCE;
    color: #FFFFFF;
    font: 30px/32px 'LeagueGothicRegular',Helvetica,sans-serif;
    padding: 3px 18px;
    text-transform: uppercase;
    text-decoration: none;
}
.category-item-01 a.shopnow:hover, .info-slide-03 a.shopnow:hover, .info-slide-01 a.shopnow:hover{background:#000;color:#74CDCE} 
.jTagArea {
}
.jTagOverlay {
/*    height: 100%;
    position: relative;
    width: 100%;*/
}
.jTagDrag {
    border: 4px solid greenYellow;
    cursor: move;
    height: 155px;
    width: 155px;
}
.jTagInput {
}
.jTagSave {
    background: none repeat scroll 0 0 greenYellow;
    width: 100%;
}
.jTagInput input {
    border: 1px solid black;
    float: left;
    margin: 0;
    padding: 0;
    width: 60%;
}
.jTagload {
    background: url("images/load.png") no-repeat scroll center center transparent;
    cursor: pointer;
    float: right;
    height: 20px;
    width: 20px;
}
.jTagSaveClose {
    background: url("images/cancel.png") no-repeat scroll center center transparent;
    cursor: pointer;
    float: right;
    height: 20px;
    width: 20px;
}
.jTagEditTag {
    background: url("images/gtk-edit.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 20px;
    position: absolute;
    right: 0;
    width: 40px;
    z-index: 5;
}
.jTagDeleteTag {
    background: url("images/cancel.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 20px;
    position: absolute;
    right: 0;
    width: 20px;
    z-index: 5;
}
.jTagSaveBtn {
    background: url("images/save.png") no-repeat scroll center center transparent;
    cursor: pointer;
    float: right;
    height: 20px;
    width: 20px;
}
.jTagPngOverlay {
    background: url("images/trans.png") repeat scroll 0 0 transparent;
    cursor: not-allowed;
}
.jTagTag {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}
.jTagTag .container {
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    height: auto;
    line-height: 20px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: auto;
}
.jTagTag .references-top-left, .jTagTag .references-view-left, .jTagTag .references-bottom-left {
    width: 5px;
}
.jTagTag .references-bottom-left, .jTagTag .references-bottom-right, .jTagTag .references-top-left, .jTagTag .references-top-left, .jTagTag .references-top-right {
    height: 6px;
    width: 5px;
}
.jTagTag .references-top-midel {
    height: 6px;
}
.jTagTag .references-top-right {
}
.jTagTag .references-bottom-left {
}
.jTagTag .references-bottom-right {
}
.jTagTag .references-bottom-midel {
    height: 6px;
}
.jTagTag .references-view-left, .jTagTag .references-view-right {
    width: 5px;
}
.jTagTag .references-view-right {
    width: 5px;padding: 15px;
}
.catalog-category-view .jTagTag .references-view-midel {
    background: url("../images/references-content.png") repeat scroll 0 0 transparent;
    display: block;
    margin: 0;
    padding: 15px 10px;
    width: 190px;
}
.jTagTag .references-view-midel {
    background: url("../images/references-content.png") repeat scroll 0 0 transparent;
    display: block;
    margin: 0;
    padding: 15px 0 15px 20px;
    width: 100%;
}

.jTagTag .circle {
    height: 27px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 27px;
}
.jTagTag {
    background: url("../images/spot-content-bg.png") repeat scroll left top transparent;
    border: medium none !important;
    height: 80px;
    margin-left: 93px;
    margin-top: 33px;
    z-index: 999;
}
.jTagTag .references-container {
    border: 0 none !important;
    margin: 0 auto;
}
.jTagTag .circle-content {
    position: relative;
}
 .std table.references-container th,  .std table.references-container td {
 border: none!important;   
}
.references-view-container a{
    color: #636363;
    font: 12px/14px Helvetica,Arial,sans-serif;
    width: 96px;
    text-wrap: normal;
    display: block;
}
.jTagLabels {
    padding: 5px;
}
.jTagLabels label {
    cursor: pointer;
    float: left;
    font-weight: bold;
    padding: 5px;
}
.overlay_magento {
    background-color: #000000;
    display: block;
    height: 1255px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.overlay_dialog {
    background-color: #666666;
    opacity: 0.6;
}
.overlay___invisible__ {
    background-color: #666666;
    opacity: 0;
}
.dialog_nw {
    background: url("default/top_left.gif") no-repeat scroll 0 0 transparent;
    height: 23px;
    width: 9px;
}
.dialog_n {
    background: url("default/top_mid.gif") repeat-x scroll 0 0 transparent;
    height: 23px;
}
.dialog_ne {
    background: url("default/top_right.gif") no-repeat scroll 0 0 transparent;
    height: 23px;
    width: 9px;
}
.dialog_e {
    background: url("default/center_right.gif") repeat-y scroll 0 0 transparent;
    width: 2px;
}
.dialog_w {
    background: url("default/center_left.gif") repeat-y scroll 0 0 transparent;
    width: 2px;
}
.dialog_sw {
    background: url("default/bottom_left.gif") no-repeat scroll 0 0 transparent;
    height: 19px;
    width: 9px;
}
.dialog_s {
    background: url("default/bottom_mid.gif") repeat-x scroll 0 0 transparent;
    height: 19px;
}
.dialog_se {
    background: url("default/bottom_right.gif") no-repeat scroll 0 0 transparent;
    height: 19px;
    width: 9px;
}
.dialog_sizer {
    background: url("default/sizer.gif") no-repeat scroll 0 0 transparent;
    cursor: se-resize;
    height: 19px;
    width: 9px;
}
.dialog_close {
    background: url("default/close.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 14px;
    left: 8px;
    position: absolute;
    top: 5px;
    width: 14px;
    z-index: 2000;
}
.dialog_minimize {
    background: url("default/minimize.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 15px;
    left: 28px;
    position: absolute;
    top: 5px;
    width: 14px;
    z-index: 2000;
}
.dialog_maximize {
    background: url("default/maximize.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 15px;
    left: 49px;
    position: absolute;
    top: 5px;
    width: 14px;
    z-index: 2000;
}
.dialog_title {
    color: #000000;
    float: left;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 12px;
    height: 14px;
    text-align: center;
    width: 100%;
}
.dialog_content {
    background-color: #112233;
    color: #DDDDDD;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 10px;
    overflow: auto;
}
.top_draggable, .bottom_draggable {
    cursor: move;
}
.status_bar {
    font-size: 12px;
}
.status_bar input {
    font-size: 12px;
}
.wired_frame {
    border: 1px dashed #000000;
    display: block;
    position: absolute;
}
.dialog {
    display: block;
    position: absolute;
}
.dialog table.table_window {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dialog table.table_window td, .dialog table.table_window th {
    padding: 0;
}
.dialog .title_window {
    -moz-user-select: none;
}
.dialog {
    border: 1px solid #555555;
}
.dialog .bot {
    display: none !important;
}
.overlay_magento {
    background-color: #000000;
    opacity: 0.6;
}
.top.table_window {
    background: url("magento/top_bg.gif") repeat-x scroll 0 100% #6A838B;
    border-bottom: 1px solid #E6E6E6;
}
.magento_nw {
    height: 28px;
    width: 6px;
}
.magento_n {
    height: 28px;
}
.magento_ne {
    height: 28px;
    width: 6px;
}
.magento_w {
    width: 6px;
}
.magento_e {
    width: 6px;
}
.magento_w, .magento_e, .magento_content {
    background: url("magento/content_bg.gif") repeat-x scroll 0 0 #FAFAFA;
}
.magento_sw {
    background: none repeat scroll 0 0 #DEEBF0;
    height: 3px;
    width: 5px;
}
.magento_s {
    background: none repeat scroll 0 0 #DEEBF0;
    height: 3px;
}
.magento_se, .magento_sizer {
    background: none repeat scroll 0 0 #DEEBF0;
    height: 3px;
    width: 5px;
}
.magento_sizer {
    cursor: se-resize;
}
.magento_close {
    background: url("magento/window_close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 7px;
    top: 5px;
    width: 16px;
    z-index: 1000;
}
.magento_minimize {
    background: url("magento/window_minimize.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 28px;
    top: 5px;
    width: 16px;
    z-index: 1000;
}
.magento_maximize {
    background: url("magento/window_maximize.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 49px;
    top: 5px;
    width: 16px;
    z-index: 1000;
}
.magento_title {
    color: #FFFFFF;
    float: left;
    font: bold 12px/28px Arial,Helvetica,sans-serif;
    text-align: left;
    width: 100%;
}
.magento_content {
    font-size: 12px;
    overflow: auto;
}
.magento_content, .magento_content label {
    color: #333333;
    font-family: Arial,sans-serif;
}
.magento_buttons {
    padding: 10px;
    text-align: right;
}
.magento_buttons input.button {
    background: url("magento/btn_bg.gif") repeat-x scroll 0 100% #FFAC47;
    border-color: #ED6502 #A04300 #A04300 #ED6502;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 12px/18px Arial,Helvetica,sans-serif;
    padding: 0 7px 1px;
    text-align: center;
    white-space: nowrap;
}
.pagination-container {
    height: 740px;
    margin-bottom: 35px;
    overflow: hidden;
    position: relative;
    width: 816px;
}
.jTagRead {
    height: 30px;
    position: absolute;
    width: 30px;
	margin-left: 83px;
    margin-top: 55px;
}
.jTagRead .circle {
    background: url("../images/common/sprite.png") no-repeat scroll left -560px transparent;
    height: 24px;
    position: absolute;
    text-indent: -99999px;
    width: 24px;
    z-index: 10;
  
}
* html .magento_close {
    background-image: none;
}
* html .magento_minimize {
    background-image: none;
}
* html .magento_maximize {
    background-image: none;
}

.list-sub-category .category-slider {
    display: block;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}
.approved-icon {
    background: url("../images/sprite.png") repeat scroll left -710px transparent;
    height: 155px;
    left: 28px;
    position: absolute;
    text-indent: -9999px;
    top: 27px;
    width: 131px;
}

.list-sub-category .slider-content {
    background: url("../images/spot-content-bg.png") repeat scroll left top transparent;
    height: 318px;
    padding: 73px 0 0 25px;
    right: 0;
    top: 0;
    width: 205px;
    position: absolute;
    z-index: 2;
}
.list-sub-category .slider-content h2 {
    color: #000000;
    font: bold 25px/26px Helvetica,Arial,sans-serif;
}
.slider-container{
    width: 720px;
    height: 391px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.slider-content  p {
    color: #636363;
    font: 12px/16px Helvetica,Arial,sans-serif;
    padding: 6px 0 0 3px;
}

.list-sub-category .slider-content p.price {
    margin-top: 17px;
    color: #000000;
    font: 80px/82px 'LeagueGothicRegular',Helvetica,sans-serif;
    padding: 0 0 10px;
    vertical-align: text-top;
}
.list-sub-category .slider-content  p.price span {
    display: inline-block;
    font: 40px/42px 'LeagueGothicRegular',Helvetica,sans-serif;
    padding-top: 14px;
    vertical-align: text-top;
}
.list-sub-category h3 {
    color: #636363;
    font: 24px/34px 'LeagueGothicRegular',Helvetica,sans-serif;
    margin: -7px 0 16px 3px;
    text-transform: uppercase;
}
.list-sub-category h3 span {
    color: #D9093E;
}
.list-sub-category a.shopnow {
    background: none repeat scroll 0 0 #74CDCE;
    color: #FFFFFF;
    font: 30px/32px 'LeagueGothicRegular',Helvetica,sans-serif;
    padding: 3px 18px;
    text-transform: uppercase;
}
.list-sub-category a.shopnow:hover{background: none repeat scroll 0 0 #000;color: #74CDCE;text-decoration:none;}