<?xml version="1.0"?>
<config>
    <modules>
        <Atd_Quicklook>
            <version>0.1.0</version>
        </Atd_Quicklook>
    </modules>
    <frontend>
        <routers>
            <quicklook>
                <use>standard</use>
                <args>
                    <module>Atd_Quicklook</module>
                    <frontName>quicklook</frontName>
                </args>
            </quicklook>
        </routers>
        <layout>
            <updates>
                <quicklook>
                    <file>quicklook.xml</file>
                </quicklook>
            </updates>
        </layout>
    </frontend>
    <!--<admin>
        <routers>
			<quicklook>
				<use>admin</use>
				<args>
					<module>Atd_Quicklook</module>
					<frontName>quicklook</frontName>
				</args>
			</quicklook>
        </routers>
    </admin>-->
  <!--  <adminhtml>
		<menu>
			<quicklook module="quicklook">
				<title>Quicklook</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="quicklook">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>quicklook/adminhtml_quicklook</action>
					</items>
				</children>
			</quicklook>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Atd_Quicklook>
							<title>Quicklook Module</title>
							<sort_order>10</sort_order>
						</Atd_Quicklook>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<quicklook>
					<file>quicklook.xml</file>
				</quicklook>
			</updates>
		</layout>
    </adminhtml>-->
    <global>
        <models>
            <quicklook>
                <class>Atd_Quicklook_Model</class>
                <resourceModel>quicklook_mysql4</resourceModel>
            </quicklook>
            <quicklook_mysql4>
                <class>Atd_Quicklook_Model_Mysql4</class>
                <entities>
                    <quicklook>
                        <table>quicklook</table>
                    </quicklook>
                </entities>
            </quicklook_mysql4>
        </models>
        <resources>
            <quicklook_setup>
                <setup>
                    <module>Atd_Quicklook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quicklook_setup>
            <quicklook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quicklook_write>
            <quicklook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quicklook_read>
        </resources>
        <blocks>
            <quicklook>
                <class>Atd_Quicklook_Block</class>
            </quicklook>
        </blocks>
        <helpers>
            <quicklook>
                <class>Atd_Quicklook_Helper</class>
            </quicklook>
        </helpers>
    </global>
</config>